* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}

:root {
  --bg-color: #080808;
  --second-bg-color: #131313;
  --text-color: white;
  --main-color: #00ffee;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 60%;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* padding: 1rem 5% 2rem; */
  backdrop-filter: flex;
  /* justify-content: space-between; */
  align-items: center;
  z-index: 5;
}

@media (min-width: 768px) {
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 30%;
    overflow-x: hidden;
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    min-width: 100%;
    /* padding: 1rem 5% 2rem; */
    backdrop-filter: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* z-index: 5; */
  }
}
/* @media (min-width: 600px) {
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 30%;
    overflow-x: hidden;
    /* position: absolute; */
/* top: 0;
    left: 0; */
/* min-width: 100%; */
/* padding: 1rem 5% 2rem; */
/* backdrop-filter: flex; */
/* justify-content: space-between; */
/* align-items: center; */
/* z-index: 5; 
  }
} */
